footer {
  /*Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*Box model */
  width: 100vw;
  height: 10vh;
  padding: 5vw;
  background-color: #111;
  /*Typography */
  font-size: 2vmin;
}
