#gameHolder iframe {
  width: 70vmax;
  height: 80vh;
  border-radius: 4vh;
  margin: 10px;
  display: block;
}

#iframeName {
  display: inline-block;
  text-transform: capitalize;
  font-size: 6vh;
  padding-top: 0;
  color: #fff;
}

#gameHolder {
  width: fit-content;
  height: fit-content;
  background-color: #090909;
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 550;
}

.iframeBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameHolder div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 10px;
}

#fullscreen {
  background-image: url("https://cdn.jsdelivr.net/gh/Wande-inc/unblooked/client/fullscreen.svg");
  background-size: cover;
  width: 6vh;
  height: 6vh;
  border: solid 2px #000;
  border-radius: 1vh;
}

.fullScreen {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.fsButton {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 11;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#fullscreen:hover .tooltiptext {
  visibility: visible;
}
