* {
  /*Box model */
  margin: 0;
  padding: 0;
  /*Typography */
  font-family: sans-serif;
  color: #fff;
  /*Miscellaneous*/
  box-sizing: border-box;
}

body,
html {
  /*Box model */
  width: 100vw;
  height: 100%;
}

body {
  /*Box model */
  background-color: #000;
}
