@font-face {
    font-family:"Impact2";
    src:    url("https://cdn.jsdelivr.net/gh/Wande-inc/unblooked/assets/games/basketball-stars/assets/fonts/Impact2/impact.eot?")                format("eot"),
            url("https://cdn.jsdelivr.net/gh/Wande-inc/unblooked/assets/games/basketball-stars/assets/fonts/Impact2/impact.woff")                format("woff"),
            url("https://cdn.jsdelivr.net/gh/Wande-inc/unblooked/assets/games/basketball-stars/assets/fonts/Impact2/impact.ttf")                 format("truetype"),
            url("https://cdn.jsdelivr.net/gh/Wande-inc/unblooked/assets/games/basketball-stars/assets/fonts/Impact2/impact.svg#impact")    format("svg");
    font-weight:normal;
    font-style:normal;
}
